:root {
    --primary: #212529;
    --sekundary: #343A40;
    --screenHeight: 1px;
    --screenWidht: 1px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
}
html {
    scroll-behavior: smooth;
} 
#header {
    height: 150px;
    background-color: var(--primary);
    display: flex;
}

#header > div > a {
    color: #fff;
    font-size: 25px;
    margin-right: 50px;
}

#header > div {
    padding-top: 120px;
    padding-right: 100px;
}

#benz {
    width: 150px;
    height: 150px;
}
#iframe {
    height: var(--screenHeight);
    width: calc(var(--screenWidht));
    border: #ADB5BD solid 2px;
}

#summery {
    width: 350px;
    height: var(--screenHeight);
}
#summery > button {
    width: 350px;
    border: none;
    background-color: transparent;
    font-size: 25px;
}

#summery > button:hover {
    background-color: transparent;
    outline: #212529 solid 1px;
    outline-style: groove;
}


#content {
    display: flex;
}

a:hover{
    text-decoration: underline;

}

.highlighted{
    background-color: blue;
}
