:root {
    --primary: #212529;
    --sekundary: #343A40;
    --headerHeight: 100px;
    --screenHeight: 1px;
    --screenWidht: 1px;
}

* {
    outline: red solid 1px;
}
body {
    margin: 0px;
}
html {
    scroll-behavior: smooth;
} 
#header {
    height: var(--headerHeight);
    background-color: var(--primary);
}
#header > div > a {
    color: #fff;
}
#header > div {
    padding-top: 80px;
}
#iframe {
    height: var(--screenHeight);
    width: calc(var(--screenWidht));
}

#summery {
    width: 200px;
}
#summery > button {
    width: 200px;
    border-radius: 30px;
}
#content {
    display: flex;
}
.Viewed {
    background-color: red;
}