:root {
    --primary: #212529;
    --sekundary: #343A40;
    --headerHeight: 100px;
}

* {
    outline: red solid 1px;
}
body {
    margin: 0px;
}
#header {
    height: var(--headerHeight);
    background-color: var(--primary);
}
#header > div > a {
    color: #fff;
}
#header > div {
    padding-top: 80px;
}
