* {
    font-family: Arial, Helvetica, sans-serif;
}


p {
    width: 380px;
    font-size: 25px;
}
body > div > div {
    width: 400px;
    text-align: center;
    
}

body > div {
    text-align: center;
    border: 5px solid;
    margin: auto;
    width: 800px;

}
img {
    width: 400px;
}

body > div > div > img {
    margin-top: -500px;
    margin-left: 400px;
}

.person > img {
    width: 250px;
    margin-top: -400px;
    margin-left: 400px;
}
.car > img {
    width: 400px;
    margin-top: -800px;
    margin-left: 400px;
}
.long {
    width: 780px;
}